.DS_Store
*.DS_Store

# Environment variables (keep secrets safe)
.env
.env.local
.env.*.local

# Dependencies
node_modules/
dist/

# Vercel build artifacts
.vercel/
.next/

# IDE
.vscode/
.idea/
.vercel
.env*
